@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  color: #333;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.gray-icon * {
  color: #64748b;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.gray-icon:hover * {
  color: #334155;
}

.gold-icon * {
  color: #ca8a04;
}

.header_top__icons_wraper:hover * {
  color: white;
}

@layer components {
  .header_top__icons_wraper {
    @apply bg-gray-200 rounded-md p-[6px] text-[14px] cursor-pointer hover:bg-accent transition duration-300
  }

  .navbar__link:hover {
    color: #ff8f9c;
    transition: all 0.4s;
  }

  .navbar__link::after {
    position: absolute;
    content: "";
    background-color: #ff8f9c;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all 0.4s;
  }

  .navbar__link:hover::after {
    scale: 1;
  }
}